<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <h1>Skills</h1>
    <ul id="border">
        <% skills.forEach(function(skill) { %>
            <li>
                <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
                - Level: <%= skill.level %>
            </li>
        <% }); %>
    </ul>
</body>
</html>