<%- include('../partials/head') %> 
<body>
    <h1 class="skillName"><%= skill.skill %></h1>
    <div id="border">
        <h3>Level: <%= skill.level %></h3>
        <h3>Experience: <%= skill.experience %></h3>
    </div>
</body>